.ipynb_checkpoints
__pycache__


mobilenet_v1_1.0_224/
*.tflite

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild

#iOS
## Build generated
build/
DerivedData
build.xcarchive

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

